.error {
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  gap: 2em;

  padding: 4em 2em;
  box-sizing: border-box;

  margin: 0 auto;
}

.errorWrapper {
  border: 1px solid lightgray;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2em;
}

.errorTitle {
  font-size: 32px;

  margin: 0;
}

.errorButton {
  width: 128px;
  height: 32px;

  background: lightgray;

  border: 1px solid black;
  box-sizing: border-box;

  font-size: 18px;

  cursor: pointer;

  margin-left: auto;
}

.errorButton:hover {
  background: white;
}

.errorButton:active {
  background: lightgray;
}
