.searchPage {
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  gap: 2em;

  padding: 4em 2em;
  box-sizing: border-box;

  margin: 0 auto;
}

.searchPageRowSearch,
.searchPageRowResult,
.searchPageRowControls {
  border: 1px solid lightgray;

  background: #f7f7f7;

  display: flex;

  padding: 2em;
  box-sizing: border-box;
}

.searchPageRowControls {}

.searchPageRowSearch {}

.searchPageRowResult {
  height: 375px;
  flex-direction: column;
}

.errorButton {
  width: 128px;
  height: 32px;

  background: lightgray;

  border: 1px solid black;
  box-sizing: border-box;

  font-size: 18px;

  cursor: pointer;

  margin-left: auto;
}

.errorButton:hover {
  background: white;
}

.errorButton:active {
  background: lightgray;
}

.loader {
  font-size: 18px;
  text-align: center;

  margin: auto;
}
