.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.resultsItem {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 1em;
  border: 1px solid lightgray;
  box-sizing: border-box;

  background: #fff;
}

.resultsName {
  font-size: 18px;

  margin: 0 0 0.5em;
}

.resultsText {
  font-size: 14px;
  font-weight: 300;

  margin: 0;

  color: black;
}

.resultsText b {
  font-weight: 400;
  color: gray;
}
